@{
    ViewData["Title"] = "Salles Web MVC app";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developed by: @ViewData["Nome"]</p>


<address>
    <strong>More information at:</strong> <a> carlos.salmentro@hotmail.com</a>
</address>


